<div class="board-wrapper">
  <img class="dashboard-logo" src="../../../assets/logo_2.png" alt="logo-2" />
  <div class="pg-row">
    <div class="pg-top-row">
      <button mat-raised-button color="primary" (click)="onNewRecipe()">
        <fa-icon [icon]="['fas','circle-plus']"></fa-icon>
        Add Recipe
      </button>
    </div>
    <div class="card-list">
      <ng-container *ngIf="recipes$ | async as recipes">
        <app-recipe-item *ngFor="let recipeElement of recipes" [recipe]="recipeElement"></app-recipe-item>
      </ng-container>
    </div>
  </div>
</div>