@import "../3-helpers/variables";

.recipe-view>.recipe-about,
.recipe-cooking {
    display: flex;

    .recipe-ingredients {
        flex: 1 1 40%;
        border-right: 2px solid $color-primary;
    }

    .recipe-instruction {
        flex: 1 1 60%;
    }
}

.recipe-about {
    display: block;

    .recipe-images {
        flex: 1 1 420px;
        max-width: 420px;
        padding: 20px;
    }
}

.recipe-info-block {
    flex: 1;
    margin: bottom 0;
    display: block;
    flex-direction: column;
    position: relative;
}



.recipe-tags {
    flex-flow: row wrap;
}

.recipe-cooking {
    display: flex;
}

.recipe-boxes {
    display: flex;
    flex-flow: row wrap;

    button {
        margin: 3px;
    }
}

.row-list {
    width: 100%;
    padding-left: 0;

    .list-item {
        list-style: none;

        &:nth-child(even) {
            background-color: $font-color-label;
        }
    }

    li:nth-child(even) {
        background-color: $font-color-label;
    }
}

.options {
    display: flex;
    flex-direction: row;
}

.full {
    width: 100%;
}

.right {
    justify-content: flex-end;
}

.left {
    justify-content: flex-start;
}