@import "/src/styles/3-helpers/variables";

.logo-details {
  height: 45px;
  display: flex;
  gap: 1em;
  align-items: center;
  position: relative;
  opacity: 1;
  cursor: pointer;

  fa-icon {
    padding-left: 3px;
  }

  span {
    display: none;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    pointer-events: none;
  }
}

aside {
  margin-top: 25px;
  position: fixed;
  width: 60px;
  background: $background-color;
  padding: 0px 16px;
  z-index: 99;
  transition: width 0.3s ease;

  fa-icon {
    font-size: 25px;
    display: flex;
    justify-content: center;
    width: 25px;
  }

  &.open {
    .logo-details {
      span {
        display: inline;
        pointer-events: auto;
      }

      #btn {
        text-align: right;
      }
    }
  }

  .nav-list {
    height: 100%;
    margin-top: 1rem;
    padding: 0;
  }

  li {
    position: relative;
    list-style: none;
    display: inline-block;

    &:hover {
      .tooltip {
        opacity: 0.8;
        pointer-events: auto;
        transition: all 0.3s ease;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .tooltip {
      position: absolute;
      top: -20px;
      left: calc(100% + 15px);
      z-index: 5;
      background-color: rgba($background-color-rgb, 85%);
      padding: 6px 12px;
      border-radius: 4px;
      font-size: 15px;
      font-weight: 500;
      opacity: 0;
      white-space: nowrap;
      pointer-events: none;
    }

    a {
      display: flex;
      height: 100%;
      width: 100%;
      border-radius: 12px;
      align-items: center;
      text-decoration: none;
      color: inherit;
      cursor: pointer;
      gap: 1em;

      &:hover {
        color: $color-primary;
      }
    }

    .links-name {
      font-size: 15px;
      font-weight: 500;
      white-space: nowrap;
      opacity: 0;
      pointer-events: none;
    }
  }

  &.open {
    display: block;

    .logo-name,
    li a {
      transition: all 0.3s ease;
    }

    span {
      opacity: 1;
      pointer-events: auto;
    }

    .tooltip {
      display: none;
    }
  }
}

@media (max-width: 480px) {
  aside {
    margin: 0;
    padding: 25px 16px 0 16px;
    width: auto;
    background-color: transparent;

    ul {
      display: none;
    }

    .nav-list {
      height: 0;
      margin: 0;
      padding: 0;
    }

    &.open {
      transition: all 0.3s ease;
      display: block;
      height: 100%;
      width: auto;
      backdrop-filter: grayscale(100%) blur(2px);
      background-color: rgba(128, 128, 128, 0.5);

      .logo-name,
      ul,
      li {
        display: block;
      }

      fa-icon {
        background-color: transparent;
        display: block;
        font-size: 25px;
      }
    }
  }
}

a:not([href]):not([class]):hover {
  color: $color-primary !important;
  transition: 0.3s ease;
}