<div *ngIf="shoppingList">
    <mat-checkbox class="example-margin" [checked]="allComplete" [color]="shoppingList.color"
        [indeterminate]="someComplete()" (change)="setAll($event.checked)">
        {{shoppingList.name}}
    </mat-checkbox>
    <span class="example-list-section">
        <ul *ngFor="let ingredient of shoppingList.ingredients">
            <li>
                <mat-checkbox [(ngModel)]="ingredient.completed" [color]="ingredient.color"
                    (ngModelChange)="updateAllComplete()">
                    {{ingredient.name}}
                </mat-checkbox>
            </li>
        </ul>
    </span>
    <a style="cursor: pointer" (click)="openEditModalDialog()">
        <button mat-button color="primary">
            <fa-icon [icon]="['fas', 'pen-to-square']"></fa-icon>Edit</button>
    </a>
</div>