<div class="board-wrapper relative">
    <img class="dashboard-logo" src="../../../assets/logo_2.png" alt="logo-2" />
    <div class="pg-row">
        <div class="hidden pg-top-row md:flex md:flex-row md:visible">
            <button mat-raised-button color="primary" (click)="onNewShoppingList()">
                <fa-icon [icon]="['fas','cart-plus']"></fa-icon>
                New list
            </button>
        </div>
        <div class="flex flex-col w-full lg:flex-wrap lg:justify-start">
            <ng-container *ngIf="shoppingLists$ | async">
                <app-shopping-list [shoppingLists$]="shoppingLists$"></app-shopping-list>
            </ng-container>
        </div>
    </div>
    <div class="sticky bottom-[5%] left-[50%] max-w-fit mx-auto z-1 md:hidden">
        <button mat-fab color="primary" (click)="onNewShoppingList()">
            <fa-icon [icon]="['fas','cart-plus']"></fa-icon>
        </button>
    </div>
</div>