@import "../3-helpers/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --headlinesFont: "Playfair Display", sans-serif;
  --bodyFont: "Inter", sans-serif;
}

body {
  font-family: var(--bodyFont); 
  color: var(--textColor);
  line-height: 1.5;
  max-width: 100%;
  min-height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.general-dashboard-app-layout {
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "navbar main"
    "sidebar main"
    "sidebar footer";
  color: $font-color-primary;
  height: 100%;
  background-color: $background-color;
}
@media (min-width: 481px) {
.general-dashboard-app-layout {
  &.open {
    grid-template-columns: 185px 1fr;
  }
}
}

@media (max-width: 480px) {
  .general-dashboard-app-layout {
    grid-template-columns: 1fr;
  }

  .general-navigation-layout>aside {
    position: fixed;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.5);
  }
}

.header {
  grid-area: header;
}

.general-content-display-layout {
  grid-area: main;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.general-navigation-layout > aside {
  grid-area: sidebar;
  max-width: 268px;
  margin-top: $length-sm-3;
  border-right: 1px solid $font-color-label;
  margin-right: 5px;

  .nav-item {
    padding: 0 $length-sm-3 0 $length-sm-3;
  }

  .banner-logo {
    margin: auto;
    background: url("../../../src/assets/logo_2.png") no-repeat;
    background-size: contain;
    aspect-ratio: 6/2;
    width: 100%;
  }
}

.general-footer-layout {
  grid-area: footer;
}