<div class="board-wrapper">
  <div>
    <img class="dashboard-logo" src="../../../assets/logo_2.png" alt="logo-2" />
  </div>
  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <div class="pg-row xl:flex flex-row">
      <div class="w-full xl:w-1/2">
        <div class="py-2 px-1.5">
          <label class="pl-2 py-0.5" for="name">Name</label>
          <div class="ml-3">
            <input type="text" id="name" formControlName="name" class="form-control" placeholder="Vegetable Lasagna" />
            <p *ngIf="!recipeForm.get('name')?.valid && recipeForm.get('name')?.touched" class="error-message">
              Recipe must have a name.</p>
          </div>
        </div>
        <div class="py-2 px-1.5">
          <label class="pl-2 py-0.5" for="description">Description</label>
          <div class="ml-3"> <textarea type="text" id="description" formControlName="description" rows="6"
              class="form-control" placeholder="Wholesome hearty winter lasagna recipe"></textarea></div>
        </div>
        <div class="py-2 px-1.5">
          <div class="ml-3"> <app-file-upload id="imagePath" formControlName="imagePath" [(ngModel)]="uploadedFiles"
              (uploadedFile$)="handleUploadedFile($event)"></app-file-upload></div>
        </div>
        <div class="py-2 px-1.5">
          <label class="pl-2 py-0.5" for="tags">Tags</label>
          <div class="ml-3"> <mat-chip-listbox multiple="true" formControlName="tags" *ngIf="tags">
              <mat-chip-option color="primary" *ngFor="let tag of tags" [value]="tag.id"
                [selected]="isTagSelected(tag)">
                {{tag.name}}
              </mat-chip-option>
            </mat-chip-listbox>
          </div>
        </div>
      </div>
      <div class="xl:w-1/2">
        <div class="py-2 px-1.5">
          <label class="pl-2 py-0.5" for="note">Recipe notes</label>
          <div class="ml-3"> <textarea type="text" id="note" formControlName="note" rows="6" class="form-control"
              placeholder="Best served with crusty garlic bread"></textarea></div>
        </div>
        <div class="py-2 px-1.5">
          <label class="pl-2 py-0.5" for="instruction">Instructions</label>
          <div class="ml-3"> <textarea type="text" id="instruction" formControlName="instruction" rows="6"
              class="form-control" placeholder="1. Wash and dice the carrots, tomatoes and mushrooms."></textarea></div>
        </div>
        <div class="py-2 px-1.5">
          <label class="pl-2 py-0.5" for="favourites">Favourite</label>
          <mat-slide-toggle class="ml-1" color="primary" hideIcon="true"
            formControlName="favourites"></mat-slide-toggle>
        </div>
        <div class="py-2 px-1.5 w-64">
          <label class="pl-2 py-0.5" for="vield">Yield</label>
          <div class="ml-3 shrink flex">
            <input type="number" class="form-control mr-2 " formControlName="vield" placeholder="4" />
            <input type="text" class="form-control" id="vieldType" formControlName="vieldType" placeholder="serves" />
          </div>
        </div>
        <div class="py-2 px-1.5 w-64 flex">
          <div>
            <label class=" pl-2 py-0.5" for="prepTime">Prep time</label>
            <div class="ml-3 shrink"> <input type="number" class="form-control" formControlName="prepTime"
                placeholder="00" />
            </div>
          </div>
          <div>
            <label class=" pl-2 py-0.5" for="cookTime">Cook time</label>
            <div class="ml-3 shrink"><input type="number" class="form-control" formControlName="cookTime"
                placeholder="00" />
            </div>
          </div>
        </div>
        <div class="py-2 px-1.5">
          <label class="pl-2 py-0.5" for="cookTime">Ingredients</label>
          <div formArrayName="ingredients">
            <ng-container *ngFor="let ingredientControl of controls; let i = index">
              <div class="ml-3 shrink flex items-center" [formGroupName]="i">
                <div>
                  <input type="text" class="form-control" formControlName="name" />
                </div>
                <div class=" ml-3 w-14">
                  <input type="number" class="form-control" formControlName="amount" />
                </div>
                <div>
                  <button mat-icon-button color="warn" type="button" (click)="onDeleteIngredient(i)">
                    <fa-icon class="flex items-center" [icon]="['fas', 'xmark']"></fa-icon></button>
                </div>
              </div>
              <p *ngIf="isInvalid(ingredientControl.get('name')) || isInvalid(ingredientControl.get('amount'))"
                class="error-message ml-3">
                Ingredient name and amount required.</p>
            </ng-container>
            <div class="py-2 px-1.5">
              <button mat-raised-button color="basic" type="button" (click)="onAddIngredient()">
                Add Ingredient
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="py-2 px-1.5">
      <button mat-raised-button class="mr-1" color="primary" type="submit" [disabled]="!recipeForm.valid">
        Save
      </button>
      <button mat-raised-button color="basic" type="button" (click)="onCancel()">
        Cancel
      </button>
    </div>
  </form>
</div>